<section class="page page-feeding page_show">
    <div class="page-feeding__buttons-bar">
        <button class="button page-feeding__button button-green">Покормить</button>
        <button class="button page-feeding__button button-green">Узнать градусы</button>
        <button class="button page-feeding__button button-cyan">Сдвинуть на градусы</button>
    </div>
    <div class="page-feeding__form">
        <span class="input-label">Градусы</span>
        <input class="input" name="degrees" type="text" value="60">
        <span class="input-label">Задержка</span>
        <input class="input" name="delay" type="text" value="500">
        <span class="input-label">Смещение</span>
        <input class="input" name="shift" type="text" value="0">
    </div>
</section>